* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	min-height: 100vh;
	font-size: 62.5%;
	font-family: "Lato", sans-serif;
  background: radial-gradient(circle at center, var(--body-1-color) 40%, var(--body-2-color) 100%);
	overflow-x: hidden;
  color: var(--text-color);
  scrollbar-width: none;
  -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
}

h1 {
	font-size: var(--h1-size);
}

h2 {
	font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
	font-size: var(--p-size);
}

b {
  font-size: var(--b-size);
}

html {
	scroll-behavior: smooth;
}


:root {
  --body-1-color: #211212;
  --body-2-color: #270101;  
	--gap-section: 4rem;
	--gap-view: 8rem;
  --text-color: #eedada;
  --h3-size: 2rem;
  --h2-size: 3rem;
  --h1-size: 4rem;
  --p-size: 1.8rem;
  --b-size: 1.5rem;
  --nav-color: #40292B; 
  --search-color:  rgba(255, 255, 255, 0.7);
  --boxShadown : 0 8px 32px 0 rgba(211, 78, 16, 0.37);
}